.nav__bar {
  background-color: #4e5351;
}

.bg__verde {
  background-color: #5a8c66;
}

.btn__oscuro {
  background-color: #4e5351;
  color: white;
}

.bg__footer {
  background-color: #4e5351;
  color: black;
}
